@import "./reset.scss";
@import "./font.scss";
@import "./layout.scss";
@import "./breakpoint.scss";
// @import "./_mixin.scss";

$content-font: "NanumSquareNeo", sans-serif;

.v-application {
  p {
    margin-bottom: 0 !important;
  }
}

html {
  overflow-x: scroll !important;
  // max-width: 1920px;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
//tab
.v-tabs-bar {
  background-color: transparent !important;
  .v-slide-group__wrapper {
    contain: unset;
    overflow: visible;
    .v-slide-group__content {
      justify-content: center;
      .v-tabs-slider-wrapper {
        height: 4px !important;
        bottom: -15px !important;
      }
    }
  }
  .v-tab {
    font-family: $content-font;
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    line-height: 52px !important;
    color: rgba(255, 255, 255, 0.2) !important;
    padding: 0 !important;
    max-width: unset !important;
    min-width: unset !important;
    + .v-tab {
      margin-left: 54px;
    }
    &.v-tab--active {
      color: #fff !important;
    }
  }
}
.v-tabs-items {
  background-color: transparent !important;
}
//remove ripple
.v-tab:before {
  opacity: 0 !important;
}
.v-ripple__container {
  opacity: 0 !important;
}

//input
.v-text-field--outlined > .v-input__control > .v-input__slot {
  border: 1px solid #2e3d4a !important;
}
.theme--light.v-label,
.theme--dark.v-label {
  font-family: $content-font;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
  color: #fff !important;
  margin-left: 10px;
}
.v-input--checkbox {
  &.v-input--is-label-active {
    .v-label {
      font-weight: 800;
    }
  }
}
.v-input--selection-controls__input {
  width: 30px !important;
  height: 30px !important;
}
.mdi-checkbox-blank-outline:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2e3d4a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 12px;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: url(/icons/icon_check.png);
}
.mdi-checkbox-marked:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2e3d4a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 12px;
  background-color: #2586d9;
  background-image: url(/icons/icon_check.png);
}

//text
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.text__blue {
  color: #2686d9;
}
.error__text {
  font-family: $content-font;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 32px;
  color: #ff1800;
}

@include largeDesktopTodesktop {
  // html {
  //   // overflow-x: hidden !important;
  // }
  // body {
  //   width: 100vw;
  // }
  // .wrap {
  //   position: relative;
  //   width: 100vw;
  // }
  #header {
    padding: 0 80px;
  }
  #container {
    .visual {
      padding-left: 80px;
      padding-right: 80px;
    }
    .content {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  footer {
    padding: 60px 80px;
    .footer__content {
      ul {
        gap: 30px;
      }
    }
  }
}

@include mobile {
  .theme--light.v-label,
  .theme--dark.v-label {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-left: 0 !important;
  }
  .v-input--selection-controls__input {
    width: 24px !important;
    height: 24px !important;
  }
  .mdi-checkbox-blank-outline:before {
    width: 24px;
    height: 24px;
    background-size: 12.5px 8px;
  }
  .mdi-checkbox-marked:before {
    width: 24px;
    height: 24px;
    background-size: 12.5px 8px;
  }

  .error__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .v-tabs-bar {
    .v-slide-group__wrapper {
      .v-slide-group__content {
        .v-tabs-slider-wrapper {
          height: 2px !important;
          bottom: -4px !important;
        }
      }
    }
    .v-tab {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
      + .v-tab {
        margin-left: 13px;
      }
      &.v-tab--active {
        color: #fff !important;
      }
    }
  }

  .v-text-field--outlined > .v-input__control > .v-input__slot {
    height: 52px !important;
    min-height: 52px !important;
  }
  .v-text-field input::placeholder {
    font-family: $content-font !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    letter-spacing: -0.16px !important;
    font-weight: 400 !important;
    color: rgba(255, 255, 255, 0.6) !important;
  }
}
