@import "./breakpoint.scss";
$content-font: "NanumSquareNeo", sans-serif;
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  min-width: 100%;
  height: 100px;
  padding: 0 309px;
  z-index: 100;
  &.on {
    background-color: #0f4c82;
  }
  .logo {
    width: 176px;
    height: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .menus {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    // margin-left: 430px;
    li {
      a {
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 2.5rem;
        color: rgba(255, 255, 255, 0.3);
        &.nuxt-link-exact-active {
          color: #fff;
        }
      }
    }
  }
}

#container {
  width: 100%;
  position: relative;
  .logo__floating {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    background: url(/images/logo_floating.png) no-repeat center/100%;
  }
  .visual {
    padding-left: 309px;
    padding-right: 309px;
  }
  .content {
    padding-left: 309px;
    padding-right: 309px;
  }
}

footer {
  padding: 60px 309px;
  background-color: #000;
  .logo {
    width: 178px;
    height: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .footer__content {
    font-family: $content-font;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 42px;
    color: rgba(255, 255, 255, 0.8);
    .footer__title {
      font-size: 1.25rem;
      font-weight: 600;
    }
    ul {
      margin-top: 16px;
      li {
        display: flex;
        gap: 16px;
        &.footer__text-col2 {
          display: flex;
        }
        div {
          display: flex;
        }
        span {
          color: rgba(255, 255, 255, 0.4);
        }
        + li {
          margin-top: 6px;
        }
      }
    }
  }
}

//mobile menu
@include mobile-tablet {
  #header {
    height: 60px;
    padding: 0 28px 0 20px;
    z-index: 10;
    .logo {
      width: 77px;
      height: 12px;
    }
    .nav {
      display: none;
    }
    .nav-mobile {
      &__menu-btn {
        width: 24px;
        height: 24px;
        background: url(/icons/icon_menu.png) no-repeat center/100%;
      }
      &__side-menu-wrapper {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(100%); /* 메뉴를 화면 밖으로 이동 */
        transition: transform 0.3s ease-in-out; /* 부드러운 애니메이션 */
        padding: 68px 28px 20px;
        width: calc(100vw - 79px);
        height: 100dvh;
        border: 1px solid #fff;
        background-color: #222224;
        &.open {
          transform: translateX(0);
        }
      }
      &__side-menu {
        li {
          padding: 12px 0;
          a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.625rem;
            color: #fff;
          }
          + li {
            margin-top: 16px;
          }
        }
      }
      &__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 32px;
        height: 32px;
        background: url(/icons/icon_close.png) no-repeat center/100%;
      }
    }
  }

  #container {
    height: calc(100% - 276px);
    .visual {
      padding: 0;
    }
    .content {
      padding: 0;
    }
  }

  footer {
    width: 100%;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    padding: 40px 20px;
    // z-index: 9;
    .logo {
      width: 103px;
      height: 16px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .footer__content {
      font-family: $content-font;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.375rem;
      margin-top: 20px;
      letter-spacing: -0.16px;
      color: rgba(255, 255, 255, 0.8);
      .footer__title {
        font-size: 0.875rem;
        font-weight: 400;
      }
      ul {
        margin-top: 4px;
        li {
          display: flex;
          gap: 0;
          &.footer__text-col2 {
            display: flex;
            gap: 28px;
          }
          div {
            gap: 8px;
            span {
              flex-shrink: 0;
            }
          }
          + li {
            margin-top: 4px;
          }
          .footer__copyright {
            margin-top: 12px;
          }
        }
      }
    }
  }

  //335px 이하 footer 깨짐
  @media (max-width: 335px) {
    .footer__content {
      font-size: 0.75rem !important;
    }
  }
}
